@model InspecTime.Models.Tool

@{
    ViewBag.Title = "Delete";
}

<h2>Return</h2>

<h3>Are you sure you want to return this?</h3>
<div>
    <h4>Tool</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.toolNumber)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.toolNumber)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.D_Remove)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.D_Remove)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.P_Return)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.P_Return)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.WC)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.WC)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.EmpNo)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.EmpNo)
        </dd>

    </dl>

    @using (Html.BeginForm()) {
        @Html.AntiForgeryToken()

        <div class="form-actions no-color">
            <input type="submit" value="Return" class="btn btn-primary" /> |
            @Html.ActionLink("Back to List", "Index")
        </div>
    }
</div>
