@model InspecTime.Models.ToolHistory

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>ToolHistory</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.D_Remove)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.D_Remove)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.P_Return)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.P_Return)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.DateReturned)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.DateReturned)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.WC)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.WC)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.EmpNo)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.EmpNo)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.toolNumber }) |
    @Html.ActionLink("Back to List", "Index")
</p>
