@model IEnumerable<InspecTime.Models.ToolHistory>

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.D_Remove)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.P_Return)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.DateReturned)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.WC)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.EmpNo)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.D_Remove)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.P_Return)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.DateReturned)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.WC)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.EmpNo)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.toolNumber }) |
            @Html.ActionLink("Details", "Details", new { id=item.toolNumber }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.toolNumber })
        </td>
    </tr>
}

</table>
